/*
index.css
---------
Fichier CSS de la page d'accueil de l'outil de visu
*/
body
{
  font-family: Rubik-Regular;
}

h1
{
  text-align: center;
}

#viewport
{
  display: flex;
  justify-content: center;
}

#ui1
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#representationType
{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('fonts/rubik/Rubik-Regular.ttf') format('truetype');
}
