/*
index.css
---------
Fichier CSS de la page d'accueil de l'outil de visu
*/
body
{
  font-family: Rubik-Regular;
  /* text-align: center; */
  background-color: silver;
}

#nglview
{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#graph
{
}

#representationType, #options, #ui1
{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}


@font-face {
  font-family: 'Rubik-Regular';
  src: url('fonts/rubik/Rubik-Regular.ttf') format('truetype');
}
